@font-face {
    font-family: baloo;
    src: url('/home/samyr/Documentos/Projetos/landing-page/assets/fonts/BalooTamma2-Regular.ttf');
}
header {
    column-count: 2;
    column-gap: 0;
    height: 100px;
    width: auto;
    padding: 10px;
}
header, 
footer {
    background-color: white;
}
body {
    background-color: #e73336;
}
#f1logo {
    margin-left: 300px;
    margin-top: -30px;
    margin-bottom: 50px;
    height: 175px;
    width: 250px;
}
#motologo {
    margin-left: -450px;
    margin-top: 50px;
    height: 75px;
    width: 300px;
}
.container {
    margin: 0 auto;
    width: 940px;
    padding: 10px;
}
.overview, 
aside {
    color: white;
    font-family: baloo, sans-serif;
}
.overview {
    float: left;
    margin-top: 50px;
    width: 400px;
}
.overview, 
aside h2 {
    text-align: center;
}
.overview h1 {
    font-style: italic;
    font-size: 30px;
}
.overview p,
aside p,
footer {
    font-weight: bold;
}
.capa {
    height: 170px;
    width: 297px;
    transition: linear;
    border-radius: 15px;
}
.capa:hover {
    transform: rotate(-5deg);
}
aside {
    margin-top: 20px;
    float: right;
    width: 300px;
    padding: 10px;
    background-color: rgb(73,73,73);
    border: 1px solid  rgb(48,48,48);
    box-shadow: 2px 2px 4px rgba(0,0,0,.3) inset,
     -2px -2px 4px rgba(0,0,0,.3) inset ;
    border-radius: 13px;
}
.form {
    line-height: 30px;
}
label {
    width: 90px;
}
input,
label {
    display: inline-block;
}
.examples {
    display: none;
}
#send {
    height: 50px;
    width: 200px;
    margin-left: 50px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    border: 1px solid gray;
    background-image: linear-gradient( white, gray);
    background-color: white;
    box-shadow: inset 3px rgba(0,0,0,.3);
}
#send:hover {
    background-image: none;
    background-color: white;
}
.clear {
    clear: both;
}
footer {
    height: 100px;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: bold;
    line-height: 100px;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}
select {
    height: 25px;
    width: 230px;
}

