@font-face {
    font-family: baloo;
    src: url('../fonts/BalooTamma2-Regular.ttf');
}
.logo-headers{
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 150px;
}
.mg-0 {
    margin: 0px !important;
}

.bg-white {
    background-color: white;
}
.bg-red {
    background-color: #e73336;
}
.bandeiras {
    height: 150px;
    width: 250px;
}
.motologo {
    margin-top: 10%;
    height: 75px;
    width: 300px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70vw;
    padding: 45px 10px;
}
.main-font {
    color: white;
    font-family: baloo, sans-serif;
}
.overview {
     width: 400px;
}
.overview, 
aside h2 {
    text-align: center;
}
.ow-font-style {
    font-style: italic;
    font-size: 30px;
}
.overview p,
aside p,
.rodpé {
    font-weight: bold;
}
.capa {
    height: 170px;
    width: 297px;
    transition: linear;
    border-radius: 15px;
}
.capa:hover {
    transform: rotate(-5deg);
}
aside {
    float: right;
    width: 300px;
    padding: 10px;
    background-color: rgb(73,73,73);
    border: 1px solid  rgb(48,48,48);
    box-shadow: 2px 2px 4px rgba(0,0,0,.3) inset,
     -2px -2px 4px rgba(0,0,0,.3) inset ;
    border-radius: 13px;
}
.form {
    line-height: 30px;
}
label {
    width: 90px;
}
input,
label {
    display: inline-block;
}
.examples {
    display: none;
}
#send {
    height: 50px;
    width: 200px;
    margin-left: 50px;
    font-family: roboto, sans-serif;
    font-weight: bold;
    border: 1px solid gray;
    background-image: linear-gradient( white, gray);
    background-color: white;
    box-shadow: inset 3px rgba(0,0,0,.3);
}
#send:hover {
    background-image: none;
    background-color: white;
}

.rodape {
    height: 100px;
    text-align: center;
    font-family: roboto, sans-serif;
    font-weight: bold;
    line-height: 100px;
}
select {
    height: 25px;
    width: 230px;
}

